body {
  font-family: Arial, sans-serif;
  background-color: #90c8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  background: #87f89c;
  padding: 20px;
  border: 2px solid #007BFF;
  border-radius: 8px;
  width: 300px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #fffdfd;
  border-radius: 4px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background: #0051ff;
  color: rgb(249, 249, 249);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.error {
  color: red;
  font-size: 12px;
}
